name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request
  push:
    branches:
      - 'main'
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v2

      - name: Build project
        run: ./project --build --type Debug

      - name: Run tests
        run: |
          cd out/Debug/tests
          chmod +x run_tests
          ./run_tests

  Code_stats:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Get code stats
        run: |
          sudo apt-get install cloc
          cloc src/
